<!-- 

<select 
[value]="value"   
(input)="onChange($event.target.value)"
(blur)="onTouched()"
[disabled]="isDisabled" 
[id]="question.key" 
>
    <option [ngValue]="null">{{question.placeholder}}</option>
    <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
</select> -->


<ng-container [formGroup]="form">
    <ng-container [formArrayName]="formArrayNameString">
        <ng-container [formGroupName]="formGroupNameNumber">
            <select 
            class="form-control"
            [formControlName]="question.key"
            [id]="question.key">
            <option [ngValue]="null">Select one</option>
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
            </select> 
        </ng-container>
    </ng-container>
</ng-container >
