<form [formGroup]="form">
    <mat-horizontal-stepper labelPosition="bottom" formArrayName="formArray" linear>
        <ng-container *ngFor="let question of questions; let j = index;">
            <mat-step [formGroupName]="j" [stepControl]="formArray?.get([j])">
                <ng-template matStepLabel>{{question.label}}</ng-template>
                <!-- <app-question formControlName="{{question.key}}" [form]="form" [formArrayStringName]="'formArray'" [formGroupNameNumber]="j" [question]="question"></app-question> -->
                <mat-form-field>
                  <mat-label>{{question.label}}</mat-label>
                  <input type="{{question.type}}" matInput placeholder="{{question.placeholder}}" formControlName="{{question.key}}" required>
                </mat-form-field>
                <br/>
                <div>
                  <button *ngIf="j !== 0" mat-button matStepperPrevious type="button">Back</button>
                  <button *ngIf="j !== questions.length -1" mat-button matStepperNext type="button">Next</button>
                </div>
              </mat-step>
        </ng-container>
    </mat-horizontal-stepper>
  </form>
<!-- 
  <form [formGroup]="form">
      <ng-container *ngFor="let question of questions; let j = index;">
          <app-question [form]="form" [formArrayName]="'formArray'" [formGroupNameNumber]="j" [question]="question"></app-question>
      </ng-container>
  </form> -->