<form [formGroup]="stepsForm">
    <mat-horizontal-stepper labelPosition="bottom" formArrayName="steps" [linear]="isLinear">
        <mat-step [editable]="false">
          <div>
            Press "next" to start applying for a loan.
          </div>
          <button mat-button matStepperNext type="button">Next</button>
        </mat-step>
        <ng-container *ngFor="let step of steps; let j = index;">
            <mat-step [editable]="step.isEditable" class="mt-3" [formGroupName]="j" [stepControl]="stepsForm.get('steps')?.get([j])"> 
                <ng-template class="mt-3" matStepLabel>{{step.label}}</ng-template>
                <div *ngIf="step.text">{{step.text}}</div>
                <ng-container *ngFor="let question of steps[j].questions"> 
                  <mat-form-field class="mr-3 mt-3">
                    <div [ngSwitch]="question.controlType">
                      <input placeholder="{{question.placeholder}}"  matInput *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">
                      <mat-select placeholder="{{question.placeholder}}"  matInput [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
                        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
                      </mat-select>
                    </div>
                    <mat-error><span class="text-capitalize">{{question.key}}</span> is invalid!</mat-error>
                  </mat-form-field>
                </ng-container>
                <br/>
                <div>
                  <button mat-button matStepperPrevious type="button">Back</button>
                  <button mat-button matStepperNext type="button">Next</button>
                </div>
          </mat-step>
       
        </ng-container>
        <mat-step>
          <form-summary [payLoad]="stepsForm.getRawValue().steps"></form-summary>
        </mat-step>
    </mat-horizontal-stepper>
  </form>

  