<form [formGroup]="stepsForm" *ngIf="loaded" class="my-3">
    <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear">
          <mat-step class="mt-3" [editable]="false">
            <div>
              Press "next" to start applying for a loan.
            </div>
            <button mat-button matStepperNext type="button">Next</button>
          </mat-step>
          <ng-container *ngFor="let step of [0,1,2,3], let i =index">
              <mat-step class="mt-3" [stepControl]="stepsForm.get('steps')?.get([i])"> 
                <app-question [showError]="showError" [form]="stepsForm" [formGroupNameNumber]="i"  [formArrayNameString]="'steps'" [question]="questions[i]"></app-question>
              <br/>
              <div>
                <button *ngIf="step != 0" mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button" (click)=checkErrors(i)>Next</button>
              </div>
            </mat-step>
          </ng-container>
          <mat-step>
            <app-summary [result]="stepsForm.value"></app-summary>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button type="button" (click)="onSubmit()">Submit</button>
          </mat-step>
    </mat-horizontal-stepper>
  </form>