<!-- 
  <ng-container [formGroup]="form">
    <ng-container formArrayName="formArray">
      <ng-container  [formGroupName]="formGroupNameNumber">
        <mat-form-field>
          <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
          <ng-container [ngSwitch]="question.controlType">
            <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.key"
                    [id]="question.key" [type]="question.type">
            <select matInput [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
              <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
            </select>
          </ng-container>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container> -->
  <ng-container [formGroup]="form">
    <label [attr.for]="question.key">{{question.label}}</label>
      <ng-container formArrayName="formArray">
        <ng-container  [formGroupName]="formGroupNameNumber">
        <div [ngSwitch]="question.controlType">
          <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">
          <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>